﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="jpsApp.Account.Customer.Home" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    hey
</asp:Content>
